{% extends "layout.html" %} 
<!-- block permite abreviar la cantidad de codigo y enlazarlo con el layout-->
{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Aplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="presentar" aria-disabled="true">Mapas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referencias">Bibliografía</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}
        
{% block content %}
    <h1 class="display-4">INGRESO</h1>
    <hr class="hr-titulo">
    <p align="justify" class="lead">{{aviso}}</p>
    <hr class="my-4">
    <form class="row" action = "http://localhost:7000/base" method = "POST">
        <table class="col-md-6 col-sm-12 form-row m-auto" align="center">
            <tr class="col-12 form-group">
               <td class="col-12"> <b>Número del documento de identidad:</b> </td>
               <td class="col-12"> <input type = "number" name = "Documentoa" placeholder="1234567" maxlength="15" required/> </td>
            </tr>

            <tr class="col-12 form-group">
               <td class="col-12"> <b>Contraseña:</b> </td>
               <td class="col-12"> <input type = "password" name = "Clavea" maxlength="10" placeholder="0000" required/> </td>
            </tr>
                                               
            <tr class="botones-formulario">
                <td>
                  <input class="btn btn-info btn-enviar" type = "submit" value = "Ingresar"/>
                </td>
                <td>
                  <a class="btn btn-danger btn-resetear" href="/" role="button">Salir</a>
                </td>
            </tr>
        </table>                  
{% endblock %}

