{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
        <a class="nav-link disabled" href="/" aria-disabled="true">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="usuario" aria-disabled="true">Aplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="contacto" aria-disabled="true">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="referencias" aria-disabled="true">Bibliografía</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link disabled" href="nosotros" aria-disabled="true">Acerca de...</a>
      </li>
{% endblock %}

{% block content %}
        <h1 class="display-4">USUARIOS REGISTRADOS</h1>
        <p align="justify" class="lead">Está sección contiene información relacionada con los usuarios que han usado la aplicación.</p>
        <hr class="my-4"> 
        <form action = "http://127.0.0.1:5000/borrar2" method = "POST">   
            <table align="center">
                <tr align="center">
                    <th style="width:450px" align="center"> <b>Nombre</b> </th>
                    <th style="width:450px" align="center"> <b>Correo electrónico</b> </th>
                    <th style="width:450px" align="center"> <b>Teléfono</b> </th>
                    <th style="width:450px" align="center"> <b>Departamento</b> </th>
                    <th style="width:450px" align="center"> <b>Ciudad</b> </th>
                    <th style="width:450px" align="center"> <b>Usuario</b> </th>
                    <th style="width:450px" align="center"> <b>Pailas</b> </th>
                    <th style="width:450px" align="center"> <b>Recinto</b> </th>
                    <th style="width:450px" align="center"> <b>Cálculos</b> </th>
                    <th style="width:450px" align="center"> <b>Eliminar</b> </th>
                </tr>
    
                {%for i in range(1,Cant)%}
                    <tr align="center">
                       <td style="width:450px" align="center"> {{Eti1[i]}}</td>
                       <td style="width:450px" align="center"> {{Eti2[i]}}</td>
                       <td style="width:450px" align="center"> {{Eti3[i]}}</td>
                       <td style="width:450px" align="center"> {{Eti4[i]}}</td>
                       <td style="width:450px" align="center"> {{Eti5[i]}}</td>
                       <td style="width:450px" align="center"> <a download="Informe_Usuario" href={{url_for('static', filename=Eti6[i])}}><img src="{{url_for('static', filename='Iconos/D1.png')}}" width="50" height="50" outline="1" border="1" style="border: 1px gray solid" border-radius= "10px"; /></a></td>
                       <td style="width:450px" align="center"> <a download="Informe_Planos" href={{url_for('static', filename=Eti7[i])}}><img src="{{url_for('static', filename='Iconos/D2.png')}}" width="50" height="50" outline="1" border="1" style="border: 1px gray solid" border-radius= "10px"; /></a></td>
                       <td style="width:450px" align="center"> <a download="Informe_Recinto" href={{url_for('static', filename=Eti8[i])}}><img src="{{url_for('static', filename='Iconos/D1.png')}}" width="50" height="50" outline="1" border="1" style="border: 1px gray solid" border-radius= "10px"; /></a></td>
                       <td style="width:450px" align="center"> <a download="Informe_Calculos" href={{url_for('static', filename=Eti9[i])}}><img src="{{url_for('static', filename='Iconos/D2.png')}}" width="50" height="50" outline="1" border="1" style="border: 1px gray solid" border-radius= "10px"; /></a></td>
                       <td style="width:450px" align="center"> <input type="checkbox" id="CH_{{i}}" name="CH_{{i}}"></td>
                    </tr>
                {%endfor%}
             </table>   
             <br>
             <a class="btn btn-info btn-lg" href="/" role="button" style="width:250px">Salir</a>
             <input class="btn btn-warning btn-lg" type = "submit" value = "Borrar seleccionados" style="width:250px"/>
             <a class="btn btn-danger btn-lg" href="/borrar" role="button" style="width:250px">Borrar todo</a>
             <a class="btn btn-primary btn-lg" href="/presentar1" role="button" style="width:250px">Mapa_1</a>
             <a class="btn btn-primary btn-lg" href="/presentar2" role="button" style="width:250px">Mapa_2</a>
             <a class="btn btn-primary btn-lg" href="/presentar3" role="button" style="width:250px">Mapa_3</a>
        </form>	
{% endblock %}


