{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Aplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="presentar">Mapas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="contacto">Contacto<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referencias">Bibliografía</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>         
{% endblock %}

{% block content %}
    <h1 class="display-4">CONTACTO</h1>
    <p align="justify" class="lead">Llene los siguientes campos (recibirá una respuesta a su inquietud vía correo electrónico).</p>
    <hr class="my-4">
    <form action = "http://127.0.0.1:5000/contacto" method = "POST" enctype="multipart/form-data">
        <table align="center">
                <tr>
                    <td style="width:400px"> <b> <label>Nombre:</label> </b> </td>
                    <td style="width:400px"> <input style="width:600px" type="text" name="nombre" size="30" maxlength="200"> </td>
                </tr>
                <tr>
                    <td style="width:400px"> <b> <label>Correo electrónico (de contacto):</label> </b> </td>
                    <td style="width:400px"> <input style="width:600px" type="email" name="correo_electronico" maxlength="200" value="@"> </td>
                </tr>
                <tr>
                    <td style="width:400px"> <b> <label>Mensaje:</label> </b> </td>
                    <td style="width:400px"> <textarea style="width:600px" name="mensaje_usuario" rows="10" cols="50" maxlength="2000" placeholder="Máximo 2000 carácteres"></textarea> </td>
                </tr>
                <tr>
                    <td style="width:400px"> <b> <label>Adjuntar archivo</label> </b> </td>
                    <td style="width:400px"> 
                        <input type="file" name="adjunto" accept=".pdf, .png, .jpg, .doc, .docx" value="Seleccionar archivo"> 
                        <label><i><u>"El nombre del archivo no debe contener carácteres especiales o espacios"</i></u></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:400px"> <input class="btn btn-info"   type="submit" value="Enviar"> </td>
                    <td style="width:400px"> <input class="btn btn-danger" type="Reset" value="Borrar formulario"> </td> 
                </tr> 
        </table>  
    </form>
{% endblock %}


