{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Aplicación</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link disabled" href="informe" aria-disabled="true">Informe<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referencias">Bibliografía</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}

{% block content %}
        <h1 class="display-4">INFORME</h1>
        <p align="justify" class="lead">Esta es una vista preliminar del informe, utilice los botones con números para ver más información o los botones de descarga e impresión para guardar la información de interes (NOTA: si requiere generar un nuevo informe vuelva a iniciar la aplicación).</p>
        <hr class="my-4">    
        <nav aria-label="...">
          <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item"><a class="page-link" href="informe1" target="pag">1</a></li>
            <li class="page-item"><a class="page-link" href="informe2" target="pag">2</a></li>
            <li class="page-item"><a class="page-link" href="informe3" target="pag">3</a></li>
            <li class="page-item"><a class="page-link" href="informe4" target="pag">4</a></li>
          </ul>
        </nav>  
             
        <iframe id="frame123" width="1050" height="900" src="informe1" name="pag" style="background: rgba(178,176,176,0.5); border-style: dashed;" marginheight="0" marginwidth="0" scrolling="no"></iframe>
         <br/>
        <center>
            <button type="button"><img src="{{url_for('static', filename='Iconos/Impresora.png')}}" width="100" height="100" outline="0" border="0" onclick="window.print();"/></button>
            <a download="Informe" href="{{url_for('static', filename='/Informe.pdf')}}"><img src="{{url_for('static', filename='Iconos/Descarga.png')}}" width="105" height="105" outline="1" border="1" style="border: 1px gray solid" border-radius= "10px"; /></a>
        </center>
{% endblock %}


