    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="jumbotron" style="background: rgba(178,176,176,0.5);">
        <h3><b>RESUMEN ECONÓMICO</b></h3>
        <hr class="my-4">
        
        <table>                           
        <tr>
            <td><img src="{{url_for('static', filename='/Graficas/Depreciacion.png')}}" width="500" height="400"></td>
            <td><img src="{{url_for('static', filename='/Graficas/Flujo_Caja_1.png')}}" width="500" height="400"></td>
        </tr>

        <tr>
            <td><img src="{{url_for('static', filename='/Graficas/RI_Meses.png')}}" width="500" height="400"></td>
            <td><img src="{{url_for('static', filename='/Graficas/RI_Anos.png')}}" width="500" height="400"></td>
        </tr>
                    
        </table>
    </div>


