    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="jumbotron" style="background: rgba(178,176,176,0.5);">
        <h3><b>DATOS DE LA VARIEDAD DE CAÑA SELECCIONADA</b></h3>
        <hr class="my-4">

        <table align="center" cellpadding="5" cellspacing="0">
        {% for id in Etiquetas %}
            <tr>
               <td style="width:450px"> <b>{{ id }}</b> </td>
               <td style="width:450px"> {{ Valores[loop.index-1] }} </td>
            </tr>
        {% endfor %}

            <tr>
                <td style="width:450px"><b>Foto:</b></td>
                <td>
                    <OBJECT id="Foto2">
                        <img src={{url_for('static', filename=Dir)}} width="300" height="350">
                    </OBJECT>         
                </td>
            </tr> 
        </table>
        </br>
        </br>
        </br>
        </br>            
    </div>


