    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="jumbotron" style="background: rgba(178,176,176,0.5);">
        <h3><b>INFORMACIÓN DE(L O LOS) MOLINO(S) PRE-SELECCIONADO(S)</b></h3>
        <hr class="my-4">
        <p class="lead"><b>Parámetros de selección de un molino de acuerdo con los cálculos de la hornilla.</b></p>
        <table align="center">
        {% for i, item in result.items() %}
            <tr>
                {%if i=="Caña molida al mes"%}
                   <td style="width:450px"> <b>{{ i }}</b> </td>
                   <td style="width:450px"> {{ item }} t/mes </td>
                {%elif i=="Área cosechada al mes"%}
                   <td style="width:450px"> <b>{{ i }}</b> </td>
                   <td style="width:450px"> {{ item }} ha/mes </td>
                {%elif i=="Caña molida a la semana"%}
                   <td style="width:450px"> <b>{{ i }}</b> </td>
                   <td style="width:450px"> {{ item }} t/semana </td>
                {%elif i=="Caña molida por Hora"%}
                   <td style="width:450px"> <b>{{ i }}</b> </td>
                   <td style="width:450px"> {{ item }} t/hora </td>
                {%elif i=="Masa de panela"%}
                   <td style="width:450px"> <b>{{ i }}</b> </td>
                   <td style="width:450px"> {{ item }} kg/hora </td>
                {%elif i=="Capacidad del Molino"%}
                   <td style="width:450px"> <b>{{ i }}</b> </td>
                   <td style="width:450px"> {{ item }} kg/hora (calculado)</td>
                {%elif i=='Jugo crudo' or i=='Jugo clarificado'%}
                   <td style="width:450px">  </td>
                   <td style="width:450px">  </td>                
                {%else%}
                   <td style="width:450px"> <b>{{ i }}</b> </td>
                   <td style="width:450px"> {{ item }} </td>
                {% endif %}
            </tr>            
        {% endfor %}
        </table>
        
        </br>
        </br>
        <hr class="my-4">
        <p class="lead"><b>Disponibles a nivel comercial de acuerdo con los cálculos.</b></p>
        
        <table align="center">
        {% for id, item in Molinos.items() %}
            <tr>
               <td style="width:450px"> <b>{{ id }}</b> </td>
               {% for uj in item %}
                   {% if (id=='Disponible en')%}
                       <td style="width:450px"> <a href= {{uj}} target="_blank">Ver fabricante</a> </td>
                   {%else%}
                       <td style="width:450px"> {{ uj }} </td>
                   {% endif %}
               {% endfor %}
            </tr>
        {% endfor %}
        </table>
        </br>   
        </br>
        </br>
        </br>
        </br>
        </br>
        </br> 
        </br>
        </br>
        </br>  
        </br>
        </br> 
        </br>
        </br>
      </br>
    </div>


