<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">        
        <title>Sistema Experto</title>
        <!--Este link se toma tal cual de la pagina de Bootstrap getting started-->      
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--Con la doble llave se especifica el directorio  
        <img src="{{url_for('static', filename='Agrosavia.jpg')}}", align="middle" />-->
        <script languaje="javascript">
            window.history.forward();
            function sinVueltaAtras(){ window.history.forward();}
        </script>
    </head>
    
    <body onload="sinVueltaAtras();">
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
                <a class="navbar-brand" href="https://www.agrosavia.co/">
                    <img src="{{url_for('static', filename='Iconos/Home.jpg')}}" width="40" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>        
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                    {% block lista %}{% endblock %}
                    </ul>
                </div>
            </nav>
            
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="container">
                <div class="jumbotron" style="background: rgba(255, 255, 255, 0.7);">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </header>
    </body>
    
    <br/>
    <footer>
        <p>APP Sistema Experto</p>
    </footer>
</html>


