{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
       <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Aplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="presentar" aria-disabled="true">Mapas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referencias">Bibliografía</a>
      </li>   
      <li class="nav-item active">
        <a class="nav-link" href="nosotros">Acerca de...<span class="sr-only">(current)</span></a>
      </li>
{% endblock %}

{% block content %}
    <h1 class="display-4">ACERCA DE NOSOTROS</h1>
    <hr class="hr-titulo">
        <p class="lead">
            <ul>
                <li><p align="justify">La APP Sistema Experto es un proyecto desarrollado de forma colaborativa por varios investigadores de AGROSAVIA.</p></li>
                <li><p align="justify">El objetivo principal de este proyecto es proporcionar al sector agricola una herramienta basada en software intuitiva y abierta, con el fin de que un gran número de personas que tengan la intención de modificar, actualizar o construir una hornilla para la producción de panela lo consigan sin un conocimiento de ingeniería especializado.</p></li> 
                <li><p align="justify">El objetivo de esta página es proporcionar al usuario acceso a la aplicación, información acerca de su funcionamiento y soporte técnico especializado.</p></li>    
            </ul>
        </p>
        <hr class="my-4">
        <p><b>Colaboradores:</b></p>
            <ul>
                <li>Luz Esperanza Prada Forero.</li>
                <li>Jader Rodríguez Cortina.</li> 
                <li>Paula Helena Reyes Herrera.</li>
                <li>Fabian Andres Velasquez Ayala.</li>
                <li>John Javier Espitia.</li>   
                <li>Henry Hernández Martínez.</li> 
            </ul>
{% endblock %}