{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
    <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
    <a class="nav-link" href="usuario">Datos de usuario</a>
      </li>
      <li class="nav-item">
    <a class="nav-link" href="informe">Informe</a>
      </li>
      <li class="nav-item active">
    <a class="nav-link" href="nosotros">Sobre nosotros <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
    <a class="nav-link" href="contacto">Contacto</a>
      </li>
{% endblock %}

{% block content %}
    nosotros.
{% endblock %}


