<!--La página Layout.html no refresca la memoria cache, por lo que se hizo otra plantilla para esta pagina--> 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sistema Experto</title>     
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script languaje="javascript">
            window.history.forward();
            function sinVueltaAtras(){ window.history.forward();}
        </script>
        <!--Borrar memoria cache-->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache"> 
    </head>
    <!--Inicia el cuerpo de la página-->
    <body onload="sinVueltaAtras();">
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF;">
                <a class="navbar-brand" href="https://www.agrosavia.co/">
                    <img src="{{url_for('static', filename='Iconos/Home.jpg')}}" width="40" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>        
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="/">Principal</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="usuario">Aplicación</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link disabled" href="informe" aria-disabled="true">Informe</a>
                          </li>
                          <!--<li class="nav-item">-->
                          <!--<a class="nav-link disabled" href="presentar" aria-disabled="true">Mapas</a>-->
                          <!--</li>-->
                          <li class="nav-item">
                            <a class="nav-link" href="contacto">Contacto</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="referencias">Bibliografía</a>
                          </li>   
                          <li class="nav-item">
                            <a class="nav-link" href="nosotros">Acerca de...</a>
                          </li>
                    </ul>
                </div>
            </nav>
    <!--fin del rotulo-->
            
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="container">
                <div class="jumbotron" style="background: rgba(255, 255, 255, 0.7);">
                <!--Contenido para mostrar los mapas-->
                    <h1 class="display-4">GEOGRAFÍA DE LA PANELA</h1>
                    <hr class="hr-titulo">
                    <p align="justify" class="lead">Está sección presenta mapas con la distribución geográfica de los productores de panela que han usado la aplicación y las variedades de caña disponibles en cada región de Colombia.</p>
                    <hr class="my-4">    
                    <nav aria-label="...">
                      <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item"><a class="page-link" href="/presentar1" target="pag">1</a></li>
                        <li class="page-item"><a class="page-link" href="/presentar2" target="pag">2</a></li>
                        <li class="page-item"><a class="page-link" href="/presentar3" target="pag">3</a></li>
                      </ul>
                    </nav>  
                         
                    <iframe id="frame123" width="1050" height="900" src="/presentar1" name="pag" style="background: rgba(178,176,176,0.5); border-style: dashed;" marginheight="0" marginwidth="0" scrolling="yes"></iframe>
                    <br/>
                </div>
                <!--Aqui se términa el iframe que muestra de los mapas-->
            </div>
        </header>
    </body>
    <br/>
    <footer>
        <p>HornillAPP</p>
    </footer>
</html>
