{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
       <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Aplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="presentar" aria-disabled="true">Mapas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="referencias">Bibliografía<span class="sr-only">(current)</span></a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}

{% block content %}
      <h1 class="display-4">BIBLIOGRAFÍA</h1>
      <hr class="hr-titulo">
      <hr class="my-4">
      
          <p>Las imágenes cartográficas y altura sobre el nivel del mar se basan en:
              <ol>
                  <li><a href="https://www.google.com/maps">Google maps.</a></li>
                  <li><a href="https://www.google.com/intl/es/earth/">Google earth.</a></li>
              </ol>
          </p>
          
          <p>El establecimiento del nivel freático se basa en los siguientes documentos:
              <ol start=1>
                  <li>
                      <a href="http://www.andi.com.co/Uploads/ENA_2018-comprimido.pdf">
                       IDEAM (2019). Estudio Nacional del Agua 2018. Bogotá: Ideam: 452 pp.
                      </a>
                  </li>
                  <li>
                      <a href="http://documentacion.ideam.gov.co/openbiblio/bvirtual/023080/ENA_2014.pdf">
                       IDEAM (2015). Estudio Nacional del Agua 2014. Bogotá: Ideam: 493 pp.
                      </a>
                  </li>
                  <li>
                      <a href="http://science.sciencemag.org/content/339/6122/940.abstract">
                       Miguez-Macho, G. (2013). Global Patterns of Groundwater Table Depth. DOI: 10.1126/science.1229881.
                      </a>
                  </li>
              </ol>
          </p>
          
          <p>Las variables de los jugos de la panela, la caña de azúcar y periodo vegetativo se tomaron de:
              <ol start=1>
                  <li>
                      <a href="https://repository.agrosavia.co/handle/20.500.12324/12621">
                       Insuasty Burbano, Orlando. Variedades de caña de azúcar empleadas para la agroindustria panelera de Colombia. Corporación Colombiana de Investigación Agropecuaria, 2014.
                      </a>
                  </li>
                  <li>
                      <a href="http://www.unipamplona.edu.co/unipamplona/portalIG/home_4/mod_virtuales/modulo4/leccin_4.html">
                      Universidad de Pamplona. Modulo 4: Variedades de caña para la producción de palena. Consultado en mayo de 2020.
                      </a>
                  </li>
                  <li>
                      <a href="https://repository.agrosavia.co/handle/20.500.12324/16489?show=full">
                      Insuasty Burbano, Orlando. Catálogo de variedades de caña para la producción de panela en la hoya del río Suárez. 2003.
                      </a>
                  </li>
                  <li>
                      <a href="http://www.fao.org/3/a1525s/a1525s03.pdf">
                       Manrique e Isuasty. Buenas Prácticas Agrícolas (BPA) y Buenas Prácticas de Manufactura (BPM) en la producción de caña y panela. FAO, consultado en mayo del 2020.
                      </a>                  
                  </li>
                  <li>
                      <a href="http://bibliotecadigital.agronet.gov.co/handle/11348/4901">
                       Gallego Duque, José Leomad. Cultivo de la caña panelera en la zona cafetera. Corporación Colombiana de Investigación Agropecuaria - CORPOICA 1996.
                      </a>                  
                  </li>
                  <li>
                      <a href="https://repository.agrosavia.co/bitstream/handle/20.500.12324/1957/77628_66488.pdf?sequence=1&isAllowed=y">
                       López Lopera, Juan Gonzalo. Manejo agronómico del cultivo de la caña de azúcar para panela en Antioquia. CORPOICA 2015.
                      </a>                  
                  </li>
              </ol>
          </p>    

          <p>Algunas publicaciones de referencia para la elaboración de esta aplicación:
              <ol start=1>
                  <li>
                      <a href="https://doi.org/10.1016/j.energy.2018.03.127">
                       Rodríguez J, Velásquez F, Espitia J, Escobar S, Mendieta O. Thermal performance evaluation of production technologies for non-centrifuged sugar for improvement in energy utilization. Energy 2018. doi:https://doi.org/10.1016/j.energy.2018.03.127
                      </a>
                  </li>
                  <li>
                      <a href="https://doi.org/10.1016/j.jfoodeng.2019.109843">
                      John Espitia, Fabián Velásquez, Ricardo López SE and JR. An Engineering approach to design a non-centrifugal cane sugar production module: A Heat transfer study to improve the energy use. Journal of Food Engineering 2019. 
                  </li>
                  <li>
                      <a href="https://www.journals.elsevier.com/journal-of-food-engineering">
                      Fabián Velásquez, John Espitia, Henry Hernandez, Oscar Mendieta, Sebastian Escobar, and Jader Rodríguez. 2021. Improving the thermal, productive, and environmental performance of a non-centrifugal cane sugar production module using a heat recovery system.
                      </a>
                  </li>                  
              </ol>
          </p> 

        <p>Referencias previas:<br>
        
            <br> - ANSYS. (2006). Technical Brief. Retrieved from www.ansys.com
            
            <br> - Beleño, O. y Velosa, Y.A., (2011). Diagnóstico del desempeño térmico de la hornilla piloto Ward-Cimpa utilizada en el proceso de producción de panela en Corpoica. Trabajo de grado (ingeniero químico), Universidad Industrial de Santander. Bucaramanga, Colombia Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_matbib. jsp?parametros=157185|%20|1|1.
            
            <br> - Bonilla, J.R. y Zabala, J.M., (2010). Desarrollo de un modelo de cálculo de transferencia de calor para intercambiadores (paila) peritubulares de la industria panelera. Trabajo de grado (ingeniero químico), Universidad Industrial de Santander. Bucaramanga, Colombia Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_matbib.jsp
            ?parametros=152469|%20|9|21.
            
            <br> - Camacho, Y.C. y Núñez, K.G., (2012). Estudio de la influencia del tamaño de partícula y la humedad de combustible sobre el comportamiento de la combustión de bagazo de caña en un horno de lecho fijo. Trabajo de grado (Ingeniero Química). Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/ pags/cat/popup/pa_detalle_matbib.jsp?parametros=160350|%20|11|14
            
            <br> - Castillo, E.F., García, H. R., Prato, D., (2004). Desarrollo de un modelo matemático para el proceso de combustión de biomasa en hornos de parrilla estacionaria (tipo: Ward Cimpa y tradicional mejorada). Colombia. Memorias, VII Seminario Internacional del Medio Ambiente y Desarrollo Sostenible. Por la vida y su soporte natural mercados, producción y desarrollo verde, Universidad Industrial de Santander.
            
            <br> - Deaguas, R.V., (2013). Efecto del precalentamiento del aire primario y la humedad del bagazo de caña de azúcar durante la combustión en lecho fijo. Trabajo de grado (Ingeniero Químico). Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_matbib.jsp?parametros=164169|%20|9|14
            
            <br> - García, C.E., (2007). Comparación del desempeño de algoritmos de optimización avanzada en tesis optima de redes de intercambio de calor. Trabajo de grado (Ingenieros Químicos). Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_matbib.jsp?parametros=144053|%20|14|. 
             
            <br> - García, H.R., (1991). Experiencias y resultados del convenio ICA- Holanda para el mejoramiento de la industria panelera. Recuperado En: https://repository.agrosavia.co/ bitstream/handle/20.500.12324/30921/28499_18918.pdf?sequence=1&isAllowed=y
            
            <br> - Gómez, F.H. y Soler, J.P., (2004). Determinación de los parámetros de diseño y operación de cámaras de combustión tipo Ward-Cimpa y Plana-CIMPA en hornillas paneleras. Trabajo de grado (Ingeniero Químico). Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_ detalle_matbib .jsp?parametros=130885|%20|1|1
            
            <br> - Gordillo, G., y García H.R. (1992). Manual para el diseño y construcción de hornillas paneleras. Convenio de investigación y divulgación para el mejoramiento de la agroindustria panelera ICA-Holanda (CIMPA). Barbosa. S. Colombia.
            
            <br> - González, K.L., (2010). Determinación de pérdidas energéticas y sus puntos críticos, en hoya del Río Suárez. Trabajo de grado (Ingeniera Química), Universidad Industrial de Santander. Facultad de Ingenierías Fisicoquímicas. Escuela de Ingeniería Química. Bucaramanga. http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_matbib.jsp? parametros=152379|%20|2|2
            
            <br> - Hernández, L.A. y Acevedo, L., (1999). Determinación de los parámetros de desempeño para la combustión del bagazo en las hornillas paneleras con cámaras Ward-Cimpa.  Trabajo de grado (ingeniero químico), Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_ detalle_matbib.jsp?parametros=106816|%20|5|9
            
            <br> - Hernández, R., (2004). Determinación dinámica de los coeficientes globales de transferencia de calor para las pailas aleteada, redonda, plana, pirotubular y caldera enterrada (semicilíndrica) usadas en la industria panelera.  Trabajo de grado (ingeniero químico), Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_matbib.jsp?parametros=131204|%20|1|1
            
            <br> - Hugot, E., & Jenkins, G. H. (1986). Manual de ingeniería de la caña de azúcar. Estados Unidos: Elsevier Science. 
            
            <br> - Holman, J.P., (1995). Transferencia de calor. Capítulo 1 Compañía Editorial Continental S.A., México. 
            
            <br> - Insuasty, O. Manrique, R. y Palacios, O., (2003). Catálogo de variedades de caña para la producción de panela en la hoya del río Suárez. Recuperado En: http://hdl.handle.net/20.500.12324/16489.
            
            <br> - Insuasty, O., Murcia, M.L. y Ramírez J., 2014. Variedades de caña de azúcar empleadas para la agroindustria panelera de Colombia. Corporación Colombiana de Investigación Agropecuaria. http://hdl.handle.net/20.500.12324/12621
            
            <br> - Jagannadha Rao, P. V. K., Das, M., & Das, S. K. (2009). Changes in physical and thermo-physical properties of sugarcane, palmyra-palm and date-palm juices at different concentration of sugar. Journal of Food Engineering, 90(4), 559–566. 
            
            <br> - La Madrid, R., Marcelo, D., Orbegoso, E. M., & Saavedra, R. (2016). Heat transfer study on open heat exchangers used in jaggery production modules – Computational Fluid Dynamics simulation and field data assessment. Energy Conversion and Management, 125, 107–120. 
            
            <br> -  Mahecha, C.A., (1991). Desarrollo de una herramienta computacional para el diseño óptimo de hornillas paneleras, Trabajo de grado (ingeniero químico), Universidad Industrial de Santander. Bucaramanga, Colombia Recuperado En: http://tangara.uis.edu.co/ biblioweb/pags/cat/popup/pa_detalle_matbib.jsp?parametros=142051|%20|3|5
            
            <br> - Mahecha, C.A., (1991). Diseño de hornillas paneleras mediante programas computacionales. Memorias del II curso internacional de caña panelera y su agroindustria Corpoica, Barbosa, Colombia.  Recuperado en: http://hdl.handle.net/20.500.12324/930
            https://repository.agrosavia.co/bitstream/handle/20.500.12324/30921/28499_18918.pdf?sequence=1&isAllowed=y
            
            <br> - McBride, B. J., Gordon, S., & Reno, M. A. (1993). Coefficients for calculating thermodynamic and transport properties of individual species.
            
            <br> - Mendieta, O.A., Nieves, J.L., Valero, E.R. Chaves, A. y García, H.R. (2011) Ahorro de combustible y energía en hornos usados para la elaboración de panela modificando el diseño de pailas abiertas. Revista Fuentes, el Reventón Energético 10 (2) 61-69, Recuperado en https://revistas.uis.edu.co/index.php/revistafuentes/article/view/2611/2920
            
            <br> - Menter, F. (1993). Zonal two equation kw turbulence models for aerodynamic flows. In 23rd fluid dynamics, plasmadynamics, and lasers conference. Recuperado En: https://www.semanticscholar.org/paper/ZONAL-TWO-EQUATION-k-w-TURBULENCE-MODELS-FOR-FLOWS-Menter/19f5e4afac41fef61957a828abe70fb5d6f3479a
             
            <br> - Ministerio de Agricultura y Desarrollo Rural-MADR. (2020). Cadena Agroindustrial de la panela, primer trimestre 2020. Recuperado En: https://sioc.minagricultura.gov.co/Panela/ Documentos/2020-03-30%20Cifras%20Sectoria les.pdf
        
            <br> - Modest, M. F. (2013). Radiative heat transfer. Academic press.
            
            <br> - Montoya, L.H. y Romero, H. (1999). Estudio hidrotérmico para la determinación de los coeficientes de transferencia de calor en tres tipos de pailas para hornillas paneleras, Trabajo de grado (ingeniero químico), Universidad Industrial de Santander. Bucaramanga, Colombia Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_ matbib.jsp?parametros=107744|%20|6|9
            
            <br> - Organización de las naciones unidas para la alimentación y la agricultura -FAO (2007). Producción de panela como estrategia de diversificación en la generación de ingresos en áreas rurales de América Latina. Roma. Recuperado de: http://www.fao.org/fileadmin/user _upload/ags/publications/AGSF_WD6s.pdf.
            
            <br> - Ortiz, C.M. y Ramírez, A.F., (2012). Estudio de la influencia del flujo de aire en la eficiencia de combustión de un horno de lecho fijo. Trabajo de grado (Ingenieros Químicos). Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/popup/pa_detalle_matbib.jsp?parametros=161298|%20|12|14.  
            
            <br> - Prada, L.E., Sánchez, Z., García, H.R. y Rojas, H.S. (2012) Hornillas paneleras Ward-Cimpa: validación de los modelos matemáticos de diseño Corpoica-UIS. Revista Fuentes, el Reventón Energético 10 (2) 61-69, Recuperado en https://revistas.uis.edu.co/ index.php/revistafuentes/article/view/3337
            
            <br> - Perry, R. (1992). Manual del Ingeniero Químico. Sexta Edición, Editorial McGraw-Hill. Tomo, 1.
            
            <br> - Rabell Ferran, S. (2013). Modeling and exergoeconomic analysis of biomass gasification in a downdraft gasifier.
            
            <br> - Rein, P. (2012). Ingeniería de la caña de azúcar. Bartens.
                       
            <br> - Rojas, H.S. y Castellanos, M.A. (2012). Validación y ajuste de los modelos matemáticos de combustión generados por la UIS y Corpoica para cámaras de hornillas paneleras tipo Ward-Cimpa. Trabajo de grado (Ingenieros Químicos). Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/ pags/cat/popup pa_detalle_matbib.jsp?parametros=152378|%20|1|1.  
            
            <br> - Rohsenow, W. M. (1951). A method of correlating heat transfer data for surface boiling of liquids. Cambridge, Mass.: MIT Division of Industrial Cooperation, [1951].
            
            <br> - Sánchez, Z., (2013). Desarrollo de un modelo matemático para la descripción del comportamiento del proceso de combustión de bagazo de caña en un horno de lecho fijo. Trabajo de grado (Magister en Ingeniería Química). Universidad Industrial de Santander. Bucaramanga, Colombia. Recuperado En: http://tangara.uis.edu.co/biblioweb/pags/cat/ popup/pa_detalle_matbib.jsp?parametros=165862|%20|10|14
            
            <br> - Sánchez, Z., García, H.R. y Mendieta, O.A. (2013). Efecto del precalentamiento del aire primario y la humedad del bagazo de caña de azúcar durante la combustión en lecho fijo. Corpoica Ciencia Y Tecnología Agropecuaria 15(1) 5-16. Recuperado https://doi.org/ 10.21930/rcta.vol14_num1_art:263
            
            <br> - Sánchez, Z., y Mendieta, O.A. (2014). Ajuste de un modelo matemático para la combustión de bagazo de caña en una cámara Ward-Cimpa. Corpoica Ciencia Y Tecnología Agropecuaria 15(2) 133-151. Recuperado en https://doi.org/10.21930/ rcta.vol15_num2_art:355
            
            <br> - Tiwari, G. N., Prakash, O., & Kumar, S. (2004). Evaluation of convective heat and mass transfer for pool boiling of sugarcane juice. Energy Conversion and Management, 45(2), 171–179. 
            
            <br> - Versteeg, H. K., & Malalasekera, W. (2007). An introduction to computational fluid dynamics: the finite volume method (2nd ed.). Pearson Education.
            
            <br> - Anwar, S. I. (2010). Fuel and energy saving in open pan furnace used in jaggery making through modified juice boiling/concentrating pans. Energy Conversion and Management, 51(2), 360–364.
            
            <br> - AOAC. (1997). Official Methods of Analysis. Gaithersburg. Claudel, B., Brousse, E., & Lips, B. (1984). The rate of heat transfer for boiling on porous surfaces. Applied Energy, 16(4), 249–257.
                        
            <br> - García, M. C. (2004). Hornillas Paneleras Evaluación De Su Impacto Ambiental. Revista Innovación Y Cambio Tecnológico, 20–29.
            
            <br> - Gordillo, G., y Jaramillo, R. C. (2000). Simulación del movimiento del jugo en un intercambiador pirotubular para la industria panelera. Revista de Ingeniería, (12), 36–42.
                       
            <br> - Jaffé, W. (2012). Non-centrifugal sugar: world production and trade., Panela Monitor.
            
            <br> - Jaffé, W. R. (2015). Nutritional and functional components of non-centrifugal cane sugar: 
            
            <br> - A compilation of the data from the analytical literature. Journal of Food Composition and -Analysis, 43(Supplement C), 194–202. 
            
            <br> - La Madrid, R., Orbegoso, E. M., Saavedra, R., & Marcelo, D. (2017). Improving the thermal efficiency of a jaggery production module using a fire-tube heat exchanger. Journal of -Environmental Management, 204(Part 1), 622–636. 
            
            <br> - Lee, J. S., Ramalingam, S., Jo, I. G., Kwon, Y. S., Bahuguna, A., Oh, Y. S., … Kim, M. (2018). Comparative study of the physicochemical, nutritional, and antioxidant properties of some commercial refined and non-centrifugal sugars. Food Research International, 109, 614–625. 
            
            <br> - Sardeshpande, V. R., Shendage, D. J., & Pillai, I. R. (2010). Thermal performance evaluation of a four pan jaggery processing furnace for improvement in energy utilization. Energy, 35(12), 4740–4747. 
            
            <br> - Shiralkar, K. Y., Kancharla, S. K., Shah, N. G., & Mahajani, S. M. (2014). Energy improvements in jaggery making process. Energy for Sustainable Development, 18, 
            
            <br> - Velásquez Arredondo, H. I., Chejne Janna, F., & Agudelo Santamaría, A. F. (2004). Diagnóstico energético de los procesos productivos de la panela en Colombia. Revista Facultad Nacional de Agronomía Medellín; Vol. 57, Núm. 2 (2004). 
            
            <br> - WCO. (2012). HS Nomenclature 2012 Edition, Section 0417-2012E, Chapter 17, Sugar and sugar confectionery. Retrieved from http://www.wcoomd.org/-/media/wco/public/global/pdf/topics/nomenclature/instruments-and-tools/hs-nomeclature-2017/2017/0417_2017e.pdf
            
        </p> 

{% endblock %}


