{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
       <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Aplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="presentar">Mapas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="referencias">Bibliografía<span class="sr-only">(current)</span></a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}

{% block content %}
      <h1 class="display-4">BIBLIOGRAFÍA</h1>
      <hr class="my-4">
      
          <p>Las imágenes cartográficas y altura sobre el nivel del mar se basan en:
              <ol>
                  <li><a href="https://www.google.com/maps">Google maps.</a></li>
                  <li><a href="https://www.google.com/intl/es/earth/">Google earth.</a></li>
              </ol>
          </p>
          
          <p>El establecimiento del nivel freático se basa en los siguientes documentos:
              <ol start=1>
                  <li>
                      <a href="http://www.andi.com.co/Uploads/ENA_2018-comprimido.pdf">
                       IDEAM (2019). Estudio Nacional del Agua 2018. Bogotá: Ideam: 452 pp.
                      </a>
                  </li>
                  <li>
                      <a href="http://documentacion.ideam.gov.co/openbiblio/bvirtual/023080/ENA_2014.pdf">
                       IDEAM (2015). Estudio Nacional del Agua 2014. Bogotá: Ideam: 493 pp.
                      </a>
                  </li>
                  <li>
                      <a href="http://science.sciencemag.org/content/339/6122/940.abstract">
                       Miguez-Macho, G. (2013). Global Patterns of Groundwater Table Depth. DOI: 10.1126/science.1229881.
                      </a>
                  </li>
              </ol>
          </p>
          
          <p>Las variables de los jugos de la panela, la caña de azúcar y periodo vegetativo se tomaron de:
              <ol start=1>
                  <li>
                      <a href="https://repository.agrosavia.co/handle/20.500.12324/12621">
                       Insuasty Burbano, Orlando. Variedades de caña de azúcar empleadas para la agroindustria panelera de Colombia. Corporación Colombiana de Investigación Agropecuaria, 2014.
                      </a>
                  </li>
                  <li>
                      <a href="http://www.unipamplona.edu.co/unipamplona/portalIG/home_4/mod_virtuales/modulo4/leccin_4.html">
                      Universidad de Pamplona. Modulo 4: Variedades de caña para la producción de palena. Consultado en mayo de 2020.
                      </a>
                  </li>
                  <li>
                      <a href="https://repository.agrosavia.co/handle/20.500.12324/16489?show=full">
                      Insuasty Burbano, Orlando. Catálogo de variedades de caña para la producción de panela en la hoya del río Suárez. 2003.
                      </a>
                  </li>
                  <li>
                      <a href="http://www.fao.org/3/a1525s/a1525s03.pdf">
                       Manrique e Isuasty. Buenas Prácticas Agrícolas (BPA) y Buenas Prácticas de Manufactura (BPM) en la producción de caña y panela. FAO, consultado en mayo del 2020.
                      </a>                  
                  </li>
                  <li>
                      <a href="http://bibliotecadigital.agronet.gov.co/handle/11348/4901">
                       Gallego Duque, José Leomad. Cultivo de la caña panelera en la zona cafetera. Corporación Colombiana de Investigación Agropecuaria - CORPOICA 1996.
                      </a>                  
                  </li>
                  <li>
                      <a href="https://repository.agrosavia.co/bitstream/handle/20.500.12324/1957/77628_66488.pdf?sequence=1&isAllowed=y">
                       López Lopera, Juan Gonzalo. Manejo agronómico del cultivo de la caña de azúcar para panela en Antioquia. CORPOICA 2015.
                      </a>                  
                  </li
              </ol>
          </p>    
{% endblock %}


