{% extends "layout.html" %}
{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuario">Aplicación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="contacto">Contacto<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referencias">Bibliografía</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>         
{% endblock %}

{% block content %}
    <h1 class="display-4">{{rta}}</h1>
{% endblock %}


