{% extends "layout.html" %} 
<!-- block permite abreviar la cantidad de codigo y enlazarlo con el layout-->
{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="usuario">Aplicación<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="presentar" aria-disabled="true">Mapas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referencias">Bibliografía</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}
        
{% block content %}
    <h1 class="display-4">FORMULARIO</h1>
    <hr class="hr-titulo">
    <p align="justify" class="lead">Por favor, complete los siguientes campos (* indica que el campo es obligatorio).</p>
    <hr class="my-4">
    <!--<form class="row" action = "http://localhost:7000/informe" method = "POST">-->
        <form class="row" action = "http://sistemapanela.agrosavia.co:7000/informe" method = "POST">
        <table class="form-row">
            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Nombre de usuario o entidad*:</b> </td>
               <td class="col-12"> <input type = "text" name = "Nombre de usuario" placeholder="Ej. AGROSAVIA" maxlength="20" required/> </td>
            </tr>

            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Correo electrónico*:</b> </td>
               <td class="col-12"> <input type = "email" name = "Correo" maxlength="200" value="@" required/> </td>
            </tr>

            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Número de contacto*:</b> </td>
               <td class="col-12"> <input type = "number" name = "Telefono" maxlength="10" placeholder="Ej. 3121234567" required/> </td>
            </tr>
                                                                        
            <tr class="col-md-6 col-sm-12 form-group">
                <td class="col-12"> <b>Pais:</b> </td>
                <td class="col-12"> 
                    <select id="Pais" name="Pais" onchange="Ocultar_depto();">
                        {% for i in paises_lista %}
                            <option value= "{{i}}">{{i}}</option>"
                        {% endfor %}
                    </select>                 
                </td>
            </tr> 
            
            <tr class="col-md-6 col-sm-12 form-group">
                <td class="col-12"> <b>Departamento:</b> </td>
                <td class="col-12"> 
                    <select id="Deptos" name="Departamento" onchange="SeleccionarDepto();">
                        {% for i, valor in departamentos.items() %}
                            {% if i == 27 %}
                                <option value= "{{valor}}" selected>{{valor}}</option>"
                            {% else %}
                                <option value= "{{valor}}">{{valor}}</option>"
                            {% endif %}
                        {% endfor %}
                    </select>                 
                </td>
            </tr> 
             
            <tr class="col-md-6 col-sm-12 form-group">
                <td class="col-12"> <b>Ciudad:</b> </td>
                <td class="col-12"> 
                    <select id="Ciudad" name= "Ciudad" onchange="Seleccionarvariedad();">
                        {% for i in provincia[27] %}
                            <option value= "{{i}}">{{i}}</option>"
                        {% endfor %}
                    </select>                  
                </td>
            </tr> 
            
            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Altura del sitio (metros):</b> </td>
               <td class="col-12"> <input id="Altura" type = "decimal" name = "Altura" value="1000"  min="0" max="9999"/> </td>
            </tr>
            
            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Área de caña sembrada (Hectáreas):</b> </td>
               <td class="col-12"> <input id="Area_Semb" type = "decimal" name = "Área caña sembrada" value="18"  min="0.1" max="300"/> </td>
            </tr>

            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Área proyectada para cultivo en los proximos 5 años (Hectáreas):</b> </td>
               <td class="col-12"> <input type = "number" name = "Área proyectada para cultivo en los proximos 5 años" value="0"  min="0" max="300"/> </td>
            </tr>
            
            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>¿Cada cuanto va a realizar una molienda? (días):</b> </td>
               <td class="col-12"> <input type = "number" name = "¿Cada cuanto va a realizar una molienda? (días)" value="16" min="15" max="20"/> </td>
            </tr>

            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Meses de trabajo por año:</b> </td>
               <td class="col-12"> <input type = "number" name = "Meses de trabajo por año" value="12" min="1" max="12"/> </td>
            </tr>

            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Semanas de trabajo por mes:</b> </td>
               <td class="col-12"> <input type = "number" name = "Semanas de trabajo por mes" value="2" min="1" max="4"/> </td>
            </tr>

            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Días de trabajo de la hornilla por semana:</b> </td>
               <td class="col-12"> <input type = "decimal" name = "Días de trabajo de la hornilla por semana" value="5.5" min="1" max="7"/> </td>
            </tr>

            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Horas de trabajo de la hornilla por día:</b> </td>
               <td class="col-12"> <input type = "number" name = "Horas de trabajo de la hornilla por día" value="12" min="1" max="24"/> </td>
            </tr>
                                    
            <tr class="col-md-6 col-sm-12 form-group">
                <td class="col-12"> <b>¿Utiliza fertilizante y realiza control de la maleza?</b> </td>
                <td class="col-12"> 
                    <select id="Fertiliza" onchange="Respuesta();">
                      <option value="NO">NO</option>
                      <option value="SI">SI</option>
                    </select>  
                </td>
            </tr>
                       
            <tr class="col-md-6 col-sm-12 form-group">
                <td class="col-12"> <b>¿Conoce las variedades de caña sembradas?</b> </td>
                <td class="col-12"> 
                    <select id="Ocultaritem" onchange="OcultarCSS();">
                      <option value="NO">NO</option>
                      <option value="SI">SI</option>
                    </select>  
                </td>
            </tr>
                        
            <tr class="col-12 form-group" id="Celdab1">
                <td class="col-12">
                    <input class="btn btn-success button-slider" type = "submit" value = "Generar informe"/>
                </td>
            </tr>
        </table> 

        <table class="form-row" id="Tabla1" align="center" style="visibility:hidden;">
        
            <div id="Titulo" style="visibility:hidden;">
                <H3>
                    <b>Complete la siguiente información</b>
                </H3>
            </div>
            
            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Variedades de caña sembrada</b> </td>
               <td class="col-12"> <input id="ECantidadCana" type = "number" name = "Variedades de caña sembrada" value="1" min="1" max="10" onchange="CantidadCana();"/> </td>
               <td class="col-12"> <b>Área sembrada en el sitio</b> </td>
            </tr>
            
            {%for i in range(1, 11)%}                       
                <tr class="col-md-6 col-sm-12 form-group">
                    <td class="col-12"> <b>Variedad de caña {{i}}:</b> </td>
                    
                    {%if i==1%}
                    <td class="col-12"> 
                        <select id="Cana_{{i}}" name="Variedad de Caña {{i}}" onchange="ActualizarCSS_{{i}}();">
                            {% for u in Variedad_cana_1 %}
                                <option value= "{{loop.index}}">"{{u}}"</option>"
                            {% endfor %}
                        </select>  
                    </td>
                    <td class="col-12"> <input id = "Hectareas_{{i}}" type = "number" value="0.5" step="0.5" min="0" max="100" onchange="Actualizar_ha();"/> ha </td>
                    
                    {%else%}
                    <td class="col-12"> 
                        <select id="Cana_{{i}}" name="Variedad de Caña {{i}}" onchange="ActualizarCSS_{{i}}();" disabled>
                            {% for u in Variedad_cana_1 %}
                                <option value= "{{loop.index}}">"{{u}}"</option>"
                            {% endfor %}
                        </select>  
                    </td>                  
                    <td class="col-12"> <input id = "Hectareas_{{i}}" type = "number" value="0.5" step="0.5" min="0" max="100" onchange="Actualizar_ha();" disabled/> ha </td>
                    {%endif%}    
                </tr>
            {%endfor%}
            
            <tr class="col-md-6 col-sm-12 form-group">
               <td class="col-12"> <b>Concentración de Solidos Solubles (CSS) de la última variedad de caña seleccionada [°Brix]:</b> </td>
               <td class="col-12"> <input id="CSS de la caña" type = "text" name = "CSS de la caña" value="19.2" disabled/> </td>
            </tr>
            
            <tr class="col-md-6 col-sm-12 form-group">
                <td class="col-12"><b>Vista previa de la última variedad de caña seleccionada:</b></td>
                <td class="col-12">
                    <OBJECT id="Foto">
                        <img src="{{url_for('static', filename='/Latex/Cana/POJ2878.png')}}" width="200" height="250">
                    </OBJECT>         
                </td>
            </tr> 
            
            <tr class="col-12 form-group">
                <td class="col-12">
                    <input class="btn btn-success button-slider" type = "submit" value = "Generar informe"/>
                </td>
            </tr>
        </table>                    
        
        <!--Rotulo oculto para almacenar las ciudades y las 
        variedades de caña temporalmente-->
        <select class="form-group-lg" id="CiudadOculto" style="visibility:hidden;">
            {% for j, valor in provincia.items() %}
                {% if j == 27 %}
                    <option value= "{{valor}}" selected>{{valor}}</option>"
                {% else %}
                    <option value= "{{valor}}">{{valor}}</option>"
                {% endif %}
            {% endfor %}
        </select> 
                
        <select class="form-group-lg" id="CanaOculto" style="visibility:hidden;">
            {% for k in Ciudad_cana_1 %}
                <option value= {{loop.index}}>{{k}}</option>"
            {% endfor %}
        </select> 

        <input class="form-row" id="FertilizaOculto" name = "Usa fertilizante" type = "text" value="NO" style="visibility:hidden;">
        
        <!--Termina el combo oculto-->
    </form>  
    
    <!--Forma de llamar un script desarrollado en javascript-->
    <script type="text/javascript">
        function SeleccionarDepto() {
        /*Este es un script en lenguaje javascript para actualizar el select de
        la pagina usuario*/
        /*getElementById permite tomar objetos de la pagina con un nombre exactamente
        igual al escrito entre las comillas dobles*/
          var depto = document.getElementById("Deptos");
          var prov  = document.getElementById("CiudadOculto");
          var pos1  = depto.options[depto.selectedIndex].value;
          var texto  = prov.options[depto.selectedIndex].value;
          texto  = texto.replace("[", " ");
          texto  = texto.replace("]", " ");
          texto  = texto.replace("'", "");
          texto  = texto.replace(" ", "");
          var vector = texto.split(",");
          var sel = document.getElementById("Ciudad");
          /*Esta es una forma de borrar el select Ciudad y reiniciarlo cada vez 
          que se actualicen los departamentos*/
          document.getElementById("Ciudad").innerHTML="";
          /*Con el for se actualizan los valores del archivo .json*/
          for(var k=0; k<vector.length; k++){
              option = document.createElement("OPTION");
              option.value = vector[k];
              option.text  = vector[k];
              sel.add(option);}   
           sel.onchange = function() {Seleccionarvariedad()};
           Seleccionarvariedad();
           }
         </script>  
          
         <script type="text/javascript">
         function Seleccionarvariedad() {
             var city   = document.getElementById("Ciudad");
             var city2  = document.getElementById("CanaOculto");
             var texto  = city.options[city.selectedIndex].value;
             texto  = texto.replace("'", "");
             texto  = texto.replace("'", "");
             texto  = texto.replace(" ", "");
             for (var m=0;m<city2.length;m++){
                 var a=document.getElementById("CanaOculto").options.item(m).text;
                 if(a==texto){
                     document.getElementById("Cana").value=m+1;
                     break;
                 }
                 else{
                     document.getElementById("Cana").value=1;
                 }   
             }
             ActualizarCSS();              
             }
        </script>     
        
        <script type="text/javascript">
         function ActualizarCSS_1() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_1");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }

         function ActualizarCSS_2() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_2");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }

         function ActualizarCSS_3() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_3");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }

         function ActualizarCSS_4() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_4");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }
             
         function ActualizarCSS_5() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_5");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }             

         function ActualizarCSS_6() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_6");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }

         function ActualizarCSS_7() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_7");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }

         function ActualizarCSS_8() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_8");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }
             
         function ActualizarCSS_9() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_9");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }             

         function ActualizarCSS_10() {
                 //Función para almacenar el valor de la caña seleccionado
                 var ACSS      = document.getElementById("Cana_10");
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 Mostrar_cana(texto);
             }
                                                    
         function Mostrar_cana(texto) {
                 var vector1   = texto.split(",");
                 var Var_cana  = vector1[0].substring(1);
                 var Gr_Br1    = vector1[2].replace('\"', ''); 
                 var vector2   = Gr_Br1.split(" ");
                 var Gr_Br2    = vector2[2].replace(' ', ''); 
                 document.getElementById("CSS de la caña").value=Gr_Br2; 
                 Abririmagen(Var_cana+".png");          
             }
        </script> 

        <script type="text/javascript">
         function Abririmagen(Nombre_Foto){
              //Seleccionar el objeto Foto para eliminar su contenido
              var element = document.getElementById("Foto");
              while (element.firstChild){element.removeChild(element.firstChild);} 
              //Crear contenido del objeto Foto
              var x = document.createElement("IMG");
              x.setAttribute("src", "static/Latex/Cana/"+Nombre_Foto);
              x.setAttribute('height', '250px');
              x.setAttribute('width', '200px');    	
              document.getElementById("Foto").appendChild(x);
			}     
        </script>			  

        <script type="text/javascript">
         function OcultarCSS(){
              //Función para ocultar los elementos de la página
              var elemento = document.getElementById("Ocultaritem");
              var ITEM     = elemento.options[elemento.selectedIndex].innerText;
              if(ITEM=="NO"){
                  document.getElementById("Tabla1").style.visibility = "hidden";
                  document.getElementById("Titulo").style.visibility = "hidden";
                  document.getElementById("Celdab1").style.visibility = "visible";
                  document.getElementById("FertilizaOculto").value = "NO";
                  document.getElementById("Area_Semb").value = "18";
                 }
              else{
                  document.getElementById("Tabla1").style.visibility = "visible";
                  document.getElementById("Titulo").style.visibility = "visible";
                  document.getElementById("Celdab1").style.visibility = "hidden";
                  document.getElementById("Area_Semb").value = "0.5";
                 }                
			}     
        </script>	

        <script type="text/javascript">
         function Respuesta(){
              //Función para enviar respuesta del manejo hecho al terreno              
              var elemento = document.getElementById("Fertiliza");
              var ITEM     = elemento.options[elemento.selectedIndex].innerText;
              if(ITEM=="NO"){
                  document.getElementById("FertilizaOculto").value = "NO";
                 }
              else{
                  document.getElementById("FertilizaOculto").value = "SI";
                 }                
			}     
        </script>
                
        <script type="text/javascript">
         function CantidadCana(){
              //Función para habilitar la selección de variedades de caña
              var valor = document.getElementById("ECantidadCana").value; 
              valor=parseInt(valor, 10)+1;             
              for (var n = 1; n<=valor; n++) {
                  var nombre="Cana_"+n;
                  var nombre2="Hectareas_"+n;
                  document.getElementById(nombre).disabled = false; 
                  document.getElementById(nombre2).disabled = false;    
              }             
              for (var n = valor; n<=11; n++) {
                  var nombre="Cana_"+n;
                  var nombre2="Hectareas_"+n;
                  document.getElementById(nombre).disabled = true; 
                  document.getElementById(nombre2).disabled = true; 
              }                             
			}     
        </script>	

        <script type="text/javascript">
         function Actualizar_ha(){
              //Función para habilitar la selección de variedades de caña
              var valor = document.getElementById("ECantidadCana").value; 
              var Numero=0.00;
              var Acumulador=0.00;
              valor=parseInt(valor, 10)+1;             
              for (var n = 1; n<valor; n++) {
                  var nombre="Hectareas_"+n;  
                  var Numero=parseFloat(document.getElementById(nombre).value);
                  Numero=Numero.toFixed(1);
                  Acumulador=parseFloat(Numero)+parseFloat(Acumulador);
                  Numero=0.00;
              }
              if(Acumulador==0){
                  Acumulador=0.5;
              }
              document.getElementById("Area_Semb").value=Acumulador.toString();                                     
			}     
        </script>

        <script type="text/javascript">
         function Ocultar_depto(){
              //Función para bloquear los elementos de la página el departamento y la provincia
              var elemento = document.getElementById("Pais");
              var ITEM     = elemento.options[elemento.selectedIndex].innerText;
              if(ITEM=="Colombia"){
                  document.getElementById("Deptos").disabled = false;
                  document.getElementById("Ciudad").disabled = false;
                 }
              else{
                  document.getElementById("Deptos").disabled = true;
                  document.getElementById("Ciudad").disabled = true;
                 }                            
			}     
        </script>
                        
{% endblock %}

