{% extends "layout.html" %} 
<!-- block permite abreviar la cantidad de codigo y enlazarlo con el layout-->
{% block lista %}
      <li class="nav-item">
        <a class="nav-link" href="/">Principal</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="usuario">Aplicación<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="informe1" aria-disabled="true">Informe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="referencias">Bibliografía</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="nosotros">Acerca de...</a>
      </li>
{% endblock %}
        
{% block content %}
    <h1 class="display-4">FORMULARIO</h1>
    <p align="justify" class="lead">Por favor, complete los siguientes campos.</p>
    <hr class="my-4">
    <form action = "http://127.0.0.1:5000/informe" method = "POST">
        <table align="center">
            <tr>
               <td style="width:450px"> <b>Nombre de usuario o entidad:</b> </td>
               <td style="width:450px"> <input type = "text" name = "Nombre de usuario" placeholder="Ej. AGROSAVIA" style="width : 250px; text-align:center;" maxlength="20"/> </td>
            </tr>
                                                                        
            <tr>
                <td style="width:450px"> <b>Departamento:</b> </td>
                <td style="width:450px"> 
                    <select id="Deptos" name="Departamento" style="width : 250px; text-align:center;" onchange="SeleccionarDepto();">
                        {% for i, valor in departamentos.items() %}
                            {% if i == 4 %}
                                <option value= "Bogotá D.C." selected>Bogotá D.C.</option>"
                            {% else %}
                                <option value= "{{valor}}">{{valor}}</option>"
                            {% endif %}
                        {% endfor %}
                    </select>                 
                </td>
            </tr> 
             
            <tr>
                <td style="width:450px"> <b>Ciudad:</b> </td>
                <td style="width:450px"> 
                    <select id="Ciudad" name= "Ciudad" style="width : 250px; text-align:center;" onchange="Seleccionarvariedad();">
                        <option value= "Bogotá">Bogotá</option>"
                    </select>                  
                </td>
            </tr> 
            
            <tr>
               <td style="width:450px"> <b>Área de caña sembrada (Hectáreas):</b> </td>
               <td style="width:450px"> <input type = "number" name = "Área caña sembrada" style="width : 250px; text-align:center;" value="18"  min="1" max="100"/> </td>
            </tr>

            <tr>
               <td style="width:450px"> <b>Crecimiento aproximado del área sembrada (Hectáreas):</b> </td>
               <td style="width:450px"> <input type = "number" name = "Crecimiento aproximado del área sembrada" style="width : 250px; text-align:center;" value="0"  min="0" max="100"/> </td>
            </tr>

            <tr>
               <td style="width:450px"> <b>Caña esperada por hectárea (Toneladas/Hectarea):</b> </td>
               <td style="width:450px"> <input type = "number" name = "Caña esperada por hectárea" style="width : 250px; text-align:center;" value="120" min="1" max="1500"/> </td>
            </tr>
            
            <tr>
               <td style="width:450px"> <b>Número de moliendas:</b> </td>
               <td style="width:450px"> <input type = "number" name = "Número de moliendas" style="width : 250px; text-align:center;" value="2" min="0" max="999"/> </td>
            </tr>

            <tr>
               <td style="width:450px"> <b>Días de trabajo a la semana:</b> </td>
               <td style="width:450px"> <input type = "number" name = "Días de trabajo a la semana" style="width : 250px; text-align:center;" value="6" min="1" max="7"/> </td>
            </tr>

            <tr>
               <td style="width:450px"> <b>Horas de trabajo al día:</b> </td>
               <td style="width:450px"> <input type = "number" name = "Horas de trabajo al día" style="width : 250px; text-align:center;" value="12" min="1" max="24"/> </td>
            </tr>

            <tr>
                <td style="width:450px"> <b>Variedad de Caña:</b> </td>
                <td style="width:450px"> 
                    <select id="Cana" name="Variedad de Caña" onchange="ActualizarCSS();">
                        {% for u in Variedad_cana_1 %}
                            <option value= "{{loop.index}}">"{{u}}"</option>"
                        {% endfor %}
                    </select>  
                    <p style="color:#FF0000";><i>Nota: si no conoce la variedad de caña seleccione: <b>RD75-11, -Valor por defecto-</b>.</i></p> 
            </tr>
            
            <tr>
                <td style="width:450px"><b>Vista previa:</b></td>
                <td>
                    <OBJECT id="Foto">
                        <img src="{{url_for('static', filename='Cana/POJ2878.png')}}" width="200" height="250">
                    </OBJECT>         
                </td>
            </tr> 

            <tr>
               <td style="width:450px"> <b>Concentración de Solidos Solubles (CSS) [°Brix]:</b> </td>
               <td style="width:450px"> <input id="CSS de la caña" type = "text" name = "CSS de la caña" style="width : 250px; text-align:center;" value="17.1" disabled/> </td>
            </tr>
        </table>                    
        
        <!--Rotulo oculto para almacenar las ciudades y las 
        variedades de caña temporalmente-->
        <select id="CiudadOculto" style="visibility:hidden">
            {% for j, valor in provincia.items() %}
                {% if j == 4 %}
                    <option value= "Bogotá" selected>Bogotá</option>"
                {% else %}
                    <option value= "{{valor}}">{{valor}}</option>"
                {% endif %}
            {% endfor %}
        </select> 
                
        <select id="CanaOculto" style="visibility:hidden">
            {% for k in Ciudad_cana_1 %}
                <option value= {{loop.index}}>{{k}}</option>"
            {% endfor %}
        </select> 
        <!--Termina el combo oculto-->
        
        <!--Botón de ejecución-->
        <p><input class="btn btn-success" type = "submit" value = "Generar informe" /></p>
    </form>  
    
    <!--Forma de llamar un script desarrollado en javascript-->
    <script type="text/javascript">
        function SeleccionarDepto() {
        /*Este es un script en lenguaje javascript para actualizar el select de
        la pagina usuario*/
        /*getElementById permite tomar objetos de la pagina con un nombre exactamente
        igual al escrito entre las comillas dobles*/
          var depto = document.getElementById("Deptos");
          var prov  = document.getElementById("CiudadOculto");
          var pos1  = depto.options[depto.selectedIndex].value;
          var texto  = prov.options[depto.selectedIndex].value;
          texto  = texto.replace("[", " ");
          texto  = texto.replace("]", " ");
          texto  = texto.replace("'", "");
          texto  = texto.replace(" ", "");
          var vector = texto.split(",");
          var sel = document.getElementById("Ciudad");
          /*Esta es una forma de borrar el select Ciudad y reiniciarlo cada vez 
          que se actualicen los departamentos*/
          document.getElementById("Ciudad").innerHTML="";
          /*Con el for se actualizan los valores del archivo .json*/
          for(var k=0; k<vector.length; k++){
              option = document.createElement("OPTION");
              option.value = vector[k];
              option.text  = vector[k];
              sel.add(option);}   
           sel.onchange = function() {Seleccionarvariedad()};
           Seleccionarvariedad();
           }
         </script>  
          
         <script type="text/javascript">
         function Seleccionarvariedad() {
             var city   = document.getElementById("Ciudad");
             var city2  = document.getElementById("CanaOculto");
             var texto  = city.options[city.selectedIndex].value;
             texto  = texto.replace("'", "");
             texto  = texto.replace("'", "");
             texto  = texto.replace(" ", "");
             for (var m=0;m<city2.length;m++){
                 var a=document.getElementById("CanaOculto").options.item(m).text;
                 if(a==texto){
                     document.getElementById("Cana").value=m+1;
                     break;
                 }
                 else{
                     document.getElementById("Cana").value=1;
                 }   
             }
             ActualizarCSS();              
             }
        </script>     
        
        <script type="text/javascript">
         function ActualizarCSS() {
                 var ACSS      = document.getElementById("Cana");
                 var ITEM      = ACSS.options[ACSS.selectedIndex].value;
                 var texto     = ACSS.options[ACSS.selectedIndex].innerText;
                 var vector1   = texto.split(",");
                 var Var_cana  = vector1[0].substring(1);
                 var Gr_Br1    = vector1[2].replace('\"', ''); 
                 var vector2   = Gr_Br1.split(" ");
                 var Gr_Br2    = vector2[2].replace(' ', ''); 
                 document.getElementById("CSS de la caña").value=Gr_Br2; 
                 Abririmagen(Var_cana+".png");          
             }
        </script> 

        <script type="text/javascript">
         function Abririmagen(Nombre_Foto){
              //Seleccionar el objeto Foto para eliminar su contenido
              var element = document.getElementById("Foto");
              while (element.firstChild){element.removeChild(element.firstChild);} 
              //Crear contenido del objeto Foto
              var x = document.createElement("IMG");
              x.setAttribute("src", "static/Cana/"+Nombre_Foto);
              x.setAttribute('height', '250px');
              x.setAttribute('width', '200px');    	
              document.getElementById("Foto").appendChild(x);
			}     
        </script>			  
{% endblock %}

